apiVersion: v1
data:
  nginx.conf: |-
    server {
        listen 8333;

        client_max_body_size 0;

        location / {
            proxy_hide_header 'Access-Control-Allow-Origin';
            proxy_hide_header 'Access-Control-Allow-Methods';
            proxy_hide_header 'Access-Control-Allow-Headers';
            proxy_hide_header 'Access-Control-Allow-Credentials';

            # CORS
            add_header 'Access-Control-Allow-Origin' 'http://localhost:5173' always;
            add_header 'Access-Control-Allow-Methods' '*' always;
            add_header 'Access-Control-Allow-Headers' '*' always;

            if ($request_method = 'OPTIONS') {
                return 204;
            }

            # Proxy
            proxy_pass http://seaweedfs-s3;
            proxy_set_header Host $http_host;
            proxy_request_buffering off;
        }
    }
kind: ConfigMap
metadata:
  name: nginx-config
